In [196]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [197]:
pw="Jeffery22@"

In [198]:
#nfl draft data from 1985 to 2015
csv_file_1 = "Resources/nfl_draft.csv"
draft_df = pd.read_csv(csv_file_1)
draft_df=draft_df[["Player", "Year", "Rnd", "Tm", "Pos", "Age", "College/Univ"]]
draft_df.columns=["player", "year_drafted", "round_drafted", "team", "pos", "age", "college"]
draft_df.head()

            player  year_drafted  round_drafted team  pos   age      college
0   Jameis Winston          2015            1.0  TAM   QB  21.0  Florida St.
1   Marcus Mariota          2015            1.0  TEN   QB  21.0       Oregon
2     Dante Fowler          2015            1.0  JAX  OLB  21.0      Florida
3     Amari Cooper          2015            1.0  OAK   WR  21.0      Alabama
4  Brandon Scherff          2015            1.0  WAS    T  23.0         Iowa

In [199]:
#nfl player arrest data.  released by NFL 
csv_file_2 = "Resources/ArrestIncidents.csv"
arrest_df = pd.read_csv(csv_file_2)
arrest_df.columns=["date", "team", "player", "pos", "case", "category", "desc", "outcome"]
arrest_df.head()

,date,team,player,pos,case,category,desc,outcome
0,3/27/2017,SEA,Trevone Boykin,QB,Arrested,Drugs,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/2017,CHI,Deiondre Hall,CB,Arrested,Disorderly conduct,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/2017,GB,Makinton Dorleant,CB,Arrested,Police interference,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/2017,KC,Demetrius Harris,TE,Arrested,Drugs,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/2017,LAR,Ethan Westbrooks,DT,Arrested,Domestic violence,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

In [200]:
#nfl suspension data
csv_file_3 = "Resources/nfl-suspensions-data.csv"
suspension_df = pd.read_csv(csv_file_3)
suspension_df.rename(columns={"desc.":"desc", "name":"player"}, inplace=True)
suspension_df.head()

,player,team,games,category,desc,year,source
0,F. Davis,WAS,Indef.,"Substance abuse, repeated offense",Marijuana-related,2014,http://www.cbssports.com/nfl/eye-on-football/2...
1,J. Blackmon,JAX,Indef.,"Substance abuse, repeated offense",NaN,2014,http://espn.go.com/nfl/story/_/id/11257934/jus...
2,L. Brazill,IND,Indef.,"Substance abuse, repeated offense",NaN,2014,http://www.nfl.com/news/story/0ap2000000364622...
3,T. Jackson,WAS,Indef.,"Substance abuse, repeated offense",NaN,2014,http://www.nfl.com/news/story/0ap2000000364087...
4,M. Hapes,NYG,Indef.,Personal conduct,Gambling-related,1946,http://espn.go.com/blog/nflnation/tag/_/name/f...

In [201]:
draft_df.sort_values(by="team")["team"].unique(), suspension_df.sort_values(by="team")["team"].unique(), arrest_df.sort_values(by="team")["team"].unique()

(array(['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
        'DEN', 'DET', 'GNB', 'HOU', 'IND', 'JAX', 'KAN', 'MIA', 'MIN',
        'NOR', 'NWE', 'NYG', 'NYJ', 'OAK', 'PHI', 'PHO', 'PIT', 'RAI',
        'RAM', 'SDG', 'SEA', 'SFO', 'STL', 'TAM', 'TEN', 'WAS'],
       dtype=object),
 array(['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
        'DEN', 'DET', 'FREE', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'LA', 'MIA',
        'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'OAK', 'PHI', 'PIT', 'SD', 'SEA',
        'SF', 'STL', 'TB', 'TEN', 'WAS'], dtype=object),
 array(['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
        'DEN', 'DET', 'Free agent', 'GB', 'HOU', 'IND', 'JAC', 'KC', 'LAC',
        'LAR', 'MIA', 'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'OAK', 'PHI', 'PIT',
        'SD', 'SEA', 'SF', 'STL', 'TB', 'TEN', 'WAS'], dtype=object))

In [202]:
#normalize team names
#broadcast tags
#Raiders - Both in LA and Oakland, moving to Vegas after next year
#Chargers - Moved from SD to LA
#Rams - Moved from LA to STL to LA
#Cardinals - "Moved" from Phoenix to Arizona
#normalize free agent tags

draft_df["team"] = draft_df.team.replace({"SFO":"SF",
                      "GNB":"GB",
                      "KAN":"KC",
                      "NOR":"NO",
                      "NWE":"NE",
                      "OAK":"RAI",
                      "RAM":"LAR",
                      "SDG":"LAC",
                      "STL":"LAR",
                      "TAM":"TB",
                      "PHO":"ARI"})

suspension_df["team"] = suspension_df.team.replace({"OAK":"RAI", 
                                                    "STL":"LAR", 
                                                    "LA":"LAR",
                                                    "SD":"LAC"})

arrest_df["team"] = arrest_df.team.replace({"OAK":"RAI",
                                            "STL":"LAR",
                                            "SD":"LAC",
                                            "JAC":"JAX",
                                            "Free agent":"FREE"})

draft_df.sort_values(by="team")["team"].unique(), \
    suspension_df.sort_values(by="team")["team"].unique(), \
    arrest_df.sort_values(by="team")["team"].unique()

(array(['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
        'DEN', 'DET', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'LAC', 'LAR', 'MIA',
        'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'PHI', 'PIT', 'RAI', 'SEA', 'SF',
        'TB', 'TEN', 'WAS'], dtype=object),
 array(['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
        'DEN', 'DET', 'FREE', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'LAC',
        'LAR', 'MIA', 'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'PHI', 'PIT', 'RAI',
        'SEA', 'SF', 'TB', 'TEN', 'WAS'], dtype=object),
 array(['ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
        'DEN', 'DET', 'FREE', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'LAC',
        'LAR', 'MIA', 'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'PHI', 'PIT', 'RAI',
        'SEA', 'SF', 'TB', 'TEN', 'WAS'], dtype=object))

In [203]:
#assign teams to index for relational data
teams = ['FREE', 'ARI', 'ATL', 'BAL', 'BUF', 'CAR', 'CHI', 'CIN', 'CLE', 'DAL',
        'DEN', 'DET', 'GB', 'HOU', 'IND', 'JAX', 'KC', 'LAC',
        'LAR', 'MIA', 'MIN', 'NE', 'NO', 'NYG', 'NYJ', 'PHI', 'PIT', 'RAI',
        'SEA', 'SF', 'TB', 'TEN', 'WAS']
teams=pd.DataFrame(teams)
teams.columns=["team"]
teams.head()

   team
0  FREE
1   ARI
2   ATL
3   BAL
4   BUF

In [204]:
#replacing team with team_id across all dataframes

for thing in teams["team"]:
    draft_df["team"] = draft_df.team.replace({thing:teams.loc[teams["team"]==thing].index[0]})
    suspension_df["team"] = suspension_df.team.replace({thing:teams.loc[teams["team"]==thing].index[0]})
    arrest_df["team"] = arrest_df.team.replace({thing:teams.loc[teams["team"]==thing].index[0]})
    
    
draft_df.head()

            player  year_drafted  round_drafted  team  pos   age      college
0   Jameis Winston          2015            1.0    30   QB  21.0  Florida St.
1   Marcus Mariota          2015            1.0    31   QB  21.0       Oregon
2     Dante Fowler          2015            1.0    15  OLB  21.0      Florida
3     Amari Cooper          2015            1.0    27   WR  21.0      Alabama
4  Brandon Scherff          2015            1.0    32    T  23.0         Iowa

In [205]:
#creating college name, position, relational databases

college_df = pd.DataFrame(draft_df["college"].unique())
college_df = college_df.dropna()
college_df.columns = ["school"]

pos_df = pd.DataFrame(draft_df["pos"].unique())
pos_df.columns = ["position"]

In [206]:
#creating player name databases

player_name_df = draft_df["player"]
player_name_df = pd.DataFrame(player_name_df)
player_name_df.sort_index(ascending=False, inplace=True)
player_name_df = player_name_df.reset_index()
player_name_df.columns=["dropped_col", "player"]
player_name_df = player_name_df.drop(["dropped_col"], axis=1)
player_name_df.head()

split_name_df = pd.DataFrame()
split_name_df = player_name_df["player"].str.split(" ", expand=True)
split_name_df.columns=['f_name','l_name', "drop1", "drop2"]
split_name_df = split_name_df.drop(["drop1", "drop2"], axis=1)
split_name_df.head()

    f_name    l_name
0   Donald   Chumley
1      Ray     Noble
2      Dan     Lynch
3     Paul  Woodside
4  Raymond      Polk

In [207]:
#creating arrest info id dataframes (case, category)

case_df = pd.DataFrame(arrest_df["case"].unique())
case_df.columns=["result"]

category_df = pd.DataFrame(arrest_df["category"].unique())
category_df.columns=["cat_type"]
category_df.head()

                cat_type
0                  Drugs
1     Disorderly conduct
2    Police interference
3      Domestic violence
4  DUI, resisting arrest

In [208]:
#normalizing player names in player suspension data

split_sus_df = pd.DataFrame()
split_sus_df = suspension_df["player"].str.split(" ", expand=True)
split_sus_df.columns=['f_init','l_name']
split_sus_df.head()

  f_init    l_name
0     F.     Davis
1     J.  Blackmon
2     L.   Brazill
3     T.   Jackson
4     M.     Hapes

In [209]:
#unsuccessful attempt to convert player suspension data
#trouble comparing first initial with a full name and compiling values

last_name_test_df = []
temp_last_name = []
temp_first_name = []
for last_name in split_sus_df["l_name"]:
    temp_last_name = split_name_df.loc[split_name_df["l_name"]==last_name]
    last_name_test_df.append(temp_last_name)
#     for player in temp_last_name:
#         print(temp_last_name["f_name"])


#         if player[0] == split_name_df.loc[split_name_df["l_name"]==last_name]["f_name"][0]:
#             last_name_test_df.append(temp_last_name)

for name in last_name_test_df:
    print(name["l_name"])
            
            
# last_name_test_df[1]["f_name"]
# for first_name in last_name_test_df[1]["f_name"]:
#     print(first_name[0])

# last_name_test_df = []
# for last_name in split_sus_df:
#     last_name_test_df.append(last_name)
# last_name_test_df

207     Davis
227     Davis
278     Davis
297     Davis
628     Davis
674     Davis
717     Davis
758     Davis
775     Davis
974     Davis
1112    Davis
1310    Davis
1312    Davis
1441    Davis
1672    Davis
1697    Davis
1918    Davis
1950    Davis
2209    Davis
2251    Davis
2329    Davis
2372    Davis
2721    Davis
2747    Davis
3000    Davis
3001    Davis
3076    Davis
3126    Davis
3172    Davis
3218    Davis
        ...
5070    Davis
5214    Davis
5235    Davis
5349    Davis
5479    Davis
5646    Davis
5761    Davis
5875    Davis
5977    Davis
6138    Davis
6271    Davis
6294    Davis
6330    Davis
6369    Davis
6493    Davis
6563    Davis
6603    Davis
6703    Davis
6712    Davis
6736    Davis
6882    Davis
6926    Davis
7013    Davis
7151    Davis
7592    Davis
7827    Davis
7830    Davis
8249    Davis
8309    Davis
8345    Davis
Name: l_name, Length: 72, dtype: object
1969    Blackmon
3982    Blackmon
4646    Blackmon
6029    Blackmon
7664    Blackmon
Name: l_name, dtype: object
7463    Brazill
Name: l_name, dtype: object
43      Jackson
508     Jackson
614     Jackson
668     Jackson
821     Jackson
875     Jackson
1071    Jackson
1085    Jackson
1152    Jackson
1324    Jackson
1410    Jackson
1448    Jackson
1537    Jackson
1550    Jackson
1594    Jackson
1704    Jackson
2132    Jackson
2196    Jackson
2266    Jackson
2990    Jackson
3010    Jackson
3252    Jackson
3466    Jackson
3669    Jackson
4024    Jackson
4126    Jackson
4199    Jackson
4243    Jackson
4396    Jackson
4530    Jackson
4791    Jackson
5320    Jackson
5610    Jackson
5693    Jackson
5828    Jackson
5860    Jackson
6080    Jackson
6108    Jackson
6110    Jackson
6151    Jackson
6293    Jackson
6336    Jackson
6409    Jackson
6583    Jackson
6593    Jackson
6602    Jackson
6623    Jackson
6904    Jackson
7142    Jackson
7206    Jackson
7500    Jackson
7532    Jackson
7976    Jackson
7992    Jackson
8098    Jackson
8324    Jackson
Name: l_name, dtype: object
Series([], Name: l_name, dtype: object)
320     Rice
790     Rice
1462    Rice
3619    Rice
6355    Rice
6596    Rice
Name: l_name, dtype: object
Series([], Name: l_name, dtype: object)
5961    Jolly
Name: l_name, dtype: object
5841    Thurman
Name: l_name, dtype: object
26      Jones
29      Jones
66      Jones
111     Jones
199     Jones
393     Jones
443     Jones
475     Jones
534     Jones
549     Jones
644     Jones
742     Jones
765     Jones
781     Jones
889     Jones
1027    Jones
1068    Jones
1158    Jones
1190    Jones
1286    Jones
1289    Jones
1319    Jones
1338    Jones
1361    Jones
1477    Jones
1610    Jones
1699    Jones
1764    Jones
1791    Jones
1850    Jones
        ...
5793    Jones
5868    Jones
5883    Jones
6254    Jones
6321    Jones
6326    Jones
6597    Jones
6629    Jones
6689    Jones
6999    Jones
7005    Jones
7086    Jones
7226    Jones
7231    Jones
7291    Jones
7410    Jones
7435    Jones
7503    Jones
7570    Jones
7648    Jones
7673    Jones
7725    Jones
7808    Jones
7810    Jones
7897    Jones
7906    Jones
7990    Jones
8067    Jones
8340    Jones
8408    Jones
Name: l_name, Length: 114, dtype: object
Series([], Name: l_name, dtype: object)
1391    Stallworth
1574    Stallworth
1842    Stallworth
5104    Stallworth
Name: l_name, dtype: object
521     Bryant
1146    Bryant
2189    Bryant
2995    Bryant
3152    Bryant
4316    Bryant
4330    Bryant
5054    Bryant
5105    Bryant
5711    Bryant
6530    Bryant
7138    Bryant
7706    Bryant
7938    Bryant
8061    Bryant
Name: l_name, dtype: object
733     Evans
911     Evans
957     Evans
2128    Evans
2133    Evans
2378    Evans
2572    Evans
2756    Evans
3484    Evans
4774    Evans
4898    Evans
5621    Evans
5932    Evans
6036    Evans
7754    Evans
8064    Evans
8172    Evans
8239    Evans
Name: l_name, dtype: object
43      Jackson
508     Jackson
614     Jackson
668     Jackson
821     Jackson
875     Jackson
1071    Jackson
1085    Jackson
1152    Jackson
1324    Jackson
1410    Jackson
1448    Jackson
1537    Jackson
1550    Jackson
1594    Jackson
1704    Jackson
2132    Jackson
2196    Jackson
2266    Jackson
2990    Jackson
3010    Jackson
3252    Jackson
3466    Jackson
3669    Jackson
4024    Jackson
4126    Jackson
4199    Jackson
4243    Jackson
4396    Jackson
4530    Jackson
4791    Jackson
5320    Jackson
5610    Jackson
5693    Jackson
5828    Jackson
5860    Jackson
6080    Jackson
6108    Jackson
6110    Jackson
6151    Jackson
6293    Jackson
6336    Jackson
6409    Jackson
6583    Jackson
6593    Jackson
6602    Jackson
6623    Jackson
6904    Jackson
7142    Jackson
7206    Jackson
7500    Jackson
7532    Jackson
7976    Jackson
7992    Jackson
8098    Jackson
8324    Jackson
Name: l_name, dtype: object
121     Washington
596     Washington
1065    Washington
1200    Washington
1487    Washington
1521    Washington
1804    Washington
1971    Washington
2312    Washington
3101    Washington
3999    Washington
4176    Washington
4551    Washington
5314    Washington
5398    Washington
5562    Washington
5866    Washington
6027    Washington
6438    Washington
6805    Washington
7115    Washington
7469    Washington
7735    Washington
Name: l_name, dtype: object
48      Williams
53      Williams
65      Williams
77      Williams
92      Williams
343     Williams
355     Williams
477     Williams
501     Williams
509     Williams
510     Williams
587     Williams
620     Williams
633     Williams
654     Williams
678     Williams
681     Williams
794     Williams
827     Williams
1069    Williams
1182    Williams
1295    Williams
1300    Williams
1403    Williams
1431    Williams
1461    Williams
1581    Williams
1649    Williams
1654    Williams
1845    Williams
          ...
7136    Williams
7158    Williams
7188    Williams
7197    Williams
7213    Williams
7214    Williams
7220    Williams
7275    Williams
7378    Williams
7382    Williams
7693    Williams
7700    Williams
7712    Williams
7717    Williams
7744    Williams
7778    Williams
7786    Williams
7799    Williams
7818    Williams
7829    Williams
7834    Williams
7839    Williams
7849    Williams
7895    Williams
8066    Williams
8280    Williams
8333    Williams
8357    Williams
8380    Williams
8429    Williams
Name: l_name, Length: 155, dtype: object
48      Williams
53      Williams
65      Williams
77      Williams
92      Williams
343     Williams
355     Williams
477     Williams
501     Williams
509     Williams
510     Williams
587     Williams
620     Williams
633     Williams
654     Williams
678     Williams
681     Williams
794     Williams
827     Williams
1069    Williams
1182    Williams
1295    Williams
1300    Williams
1403    Williams
1431    Williams
1461    Williams
1581    Williams
1649    Williams
1654    Williams
1845    Williams
          ...
7136    Williams
7158    Williams
7188    Williams
7197    Williams
7213    Williams
7214    Williams
7220    Williams
7275    Williams
7378    Williams
7382    Williams
7693    Williams
7700    Williams
7712    Williams
7717    Williams
7744    Williams
7778    Williams
7786    Williams
7799    Williams
7818    Williams
7829    Williams
7834    Williams
7839    Williams
7849    Williams
7895    Williams
8066    Williams
8280    Williams
8333    Williams
8357    Williams
8380    Williams
8429    Williams
Name: l_name, Length: 155, dtype: object
165     Wilson
730     Wilson
945     Wilson
1425    Wilson
1790    Wilson
1854    Wilson
1871    Wilson
1936    Wilson
2257    Wilson
2320    Wilson
2342    Wilson
2360    Wilson
2490    Wilson
2703    Wilson
3263    Wilson
3848    Wilson
4325    Wilson
4463    Wilson
4504    Wilson
4687    Wilson
4792    Wilson
5343    Wilson
5415    Wilson
5483    Wilson
5498    Wilson
5573    Wilson
5669    Wilson
5817    Wilson
6066    Wilson
6173    Wilson
6344    Wilson
6932    Wilson
7035    Wilson
7133    Wilson
7181    Wilson
7250    Wilson
7344    Wilson
7594    Wilson
7621    Wilson
7637    Wilson
7687    Wilson
7719    Wilson
7811    Wilson
8308    Wilson
8317    Wilson
Name: l_name, dtype: object
847     Gordon
962     Gordon
1707    Gordon
2396    Gordon
2679    Gordon
2875    Gordon
5033    Gordon
5473    Gordon
7235    Gordon
8420    Gordon
Name: l_name, dtype: object
45      Smith
69      Smith
87      Smith
202     Smith
245     Smith
264     Smith
335     Smith
404     Smith
414     Smith
550     Smith
732     Smith
813     Smith
857     Smith
887     Smith
903     Smith
923     Smith
953     Smith
1130    Smith
1335    Smith
1346    Smith
1436    Smith
1478    Smith
1552    Smith
1624    Smith
1663    Smith
1713    Smith
1723    Smith
1732    Smith
1872    Smith
1981    Smith
        ...
6846    Smith
6870    Smith
6901    Smith
6905    Smith
6975    Smith
6986    Smith
7088    Smith
7174    Smith
7230    Smith
7257    Smith
7358    Smith
7389    Smith
7407    Smith
7409    Smith
7457    Smith
7640    Smith
7682    Smith
7777    Smith
7884    Smith
7941    Smith
8020    Smith
8035    Smith
8153    Smith
8238    Smith
8265    Smith
8313    Smith
8370    Smith
8397    Smith
8398    Smith
8401    Smith
Name: l_name, Length: 143, dtype: object
139     Robinson
290     Robinson
532     Robinson
655     Robinson
862     Robinson
1533    Robinson
1893    Robinson
1921    Robinson
2536    Robinson
2623    Robinson
2689    Robinson
2710    Robinson
2799    Robinson
3390    Robinson
3743    Robinson
3754    Robinson
4847    Robinson
5624    Robinson
6044    Robinson
6144    Robinson
6281    Robinson
6324    Robinson
6469    Robinson
6744    Robinson
6912    Robinson
7130    Robinson
7238    Robinson
7489    Robinson
7542    Robinson
7550    Robinson
7603    Robinson
7788    Robinson
8118    Robinson
8177    Robinson
8195    Robinson
8203    Robinson
8230    Robinson
Name: l_name, dtype: object
Series([], Name: l_name, dtype: object)
Series([], Name: l_name, dtype: object)
Series([], Name: l_name, dtype: object)
733     Evans
911     Evans
957     Evans
2128    Evans
2133    Evans
2378    Evans
2572    Evans
2756    Evans
3484    Evans
4774    Evans
4898    Evans
5621    Evans
5932    Evans
6036    Evans
7754    Evans
8064    Evans
8172    Evans
8239    Evans
Name: l_name, dtype: object
3633    Ferguson
4815    Ferguson
4866    Ferguson
6140    Ferguson
8128    Ferguson
Name: l_name, dtype: object
43      Jackson
508     Jackson
614     Jackson
668     Jackson
821     Jackson
875     Jackson
1071    Jackson
1085    Jackson
1152    Jackson
1324    Jackson
1410    Jackson
1448    Jackson
1537    Jackson
1550    Jackson
1594    Jackson
1704    Jackson
2132    Jackson
2196    Jackson
2266    Jackson
2990    Jackson
3010    Jackson
3252    Jackson
3466    Jackson
3669    Jackson
4024    Jackson
4126    Jackson
4199    Jackson
4243    Jackson
4396    Jackson
4530    Jackson
4791    Jackson
5320    Jackson
5610    Jackson
5693    Jackson
5828    Jackson
5860    Jackson
6080    Jackson
6108    Jackson
6110    Jackson
6151    Jackson
6293    Jackson
6336    Jackson
6409    Jackson
6583    Jackson
6593    Jackson
6602    Jackson
6623    Jackson
6904    Jackson
7142    Jackson
7206    Jackson
7500    Jackson
7532    Jackson
7976    Jackson
7992    Jackson
8098    Jackson
8324    Jackson
Name: l_name, dtype: object
2411    Saunders
8075    Saunders
Name: l_name, dtype: object
137     Thomas
266     Thomas
280     Thomas
365     Thomas
425     Thomas
812     Thomas
932     Thomas
955     Thomas
1199    Thomas
1211    Thomas
1297    Thomas
1529    Thomas
1666    Thomas
1668    Thomas
1739    Thomas
2001    Thomas
2041    Thomas
2159    Thomas
2233    Thomas
2286    Thomas
2315    Thomas
2391    Thomas
2584    Thomas
2686    Thomas
2694    Thomas
2837    Thomas
3128    Thomas
3279    Thomas
3326    Thomas
3468    Thomas
         ...
5086    Thomas
5095    Thomas
5423    Thomas
5564    Thomas
5586    Thomas
5695    Thomas
6058    Thomas
6278    Thomas
6396    Thomas
6456    Thomas
6485    Thomas
6588    Thomas
6617    Thomas
6671    Thomas
6800    Thomas
7016    Thomas
7068    Thomas
7140    Thomas
7148    Thomas
7221    Thomas
7273    Thomas
7287    Thomas
7354    Thomas
7804    Thomas
7812    Thomas
7846    Thomas
7973    Thomas
8055    Thomas
8059    Thomas
8079    Thomas
Name: l_name, Length: 70, dtype: object
49      Tucker
547     Tucker
1792    Tucker
2151    Tucker
3750    Tucker
3936    Tucker
4290    Tucker
5201    Tucker
Name: l_name, dtype: object
1569    Henry
1856    Henry
2766    Henry
2789    Henry
4759    Henry
4798    Henry
4876    Henry
5806    Henry
6349    Henry
6480    Henry
Name: l_name, dtype: object
82      Johnson
97      Johnson
100     Johnson
174     Johnson
198     Johnson
274     Johnson
305     Johnson
325     Johnson
411     Johnson
536     Johnson
618     Johnson
621     Johnson
761     Johnson
863     Johnson
866     Johnson
958     Johnson
1066    Johnson
1183    Johnson
1204    Johnson
1238    Johnson
1356    Johnson
1376    Johnson
1401    Johnson
1498    Johnson
1500    Johnson
1523    Johnson
1834    Johnson
1967    Johnson
2007    Johnson
2012    Johnson
         ...
6608    Johnson
6627    Johnson
6666    Johnson
6678    Johnson
6740    Johnson
6762    Johnson
6773    Johnson
6812    Johnson
6837    Johnson
6951    Johnson
7014    Johnson
7064    Johnson
7234    Johnson
7432    Johnson
7534    Johnson
7549    Johnson
7604    Johnson
7672    Johnson
7707    Johnson
7740    Johnson
7824    Johnson
7919    Johnson
7957    Johnson
7958    Johnson
8006    Johnson
8050    Johnson
8240    Johnson
8349    Johnson
8358    Johnson
8419    Johnson
Name: l_name, Length: 134, dtype: object
1969    Blackmon
3982    Blackmon
4646    Blackmon
6029    Blackmon
7664    Blackmon
Name: l_name, dtype: object
1035    Couch
4355    Couch
Name: l_name, dtype: object
1675    Lang
1867    Lang
3845    Lang
6798    Lang
Name: l_name, dtype: object
6267    McBean
Name: l_name, dtype: object
48      Williams
53      Williams
65      Williams
77      Williams
92      Williams
343     Williams
355     Williams
477     Williams
501     Williams
509     Williams
510     Williams
587     Williams
620     Williams
633     Williams
654     Williams
678     Williams
681     Williams
794     Williams
827     Williams
1069    Williams
1182    Williams
1295    Williams
1300    Williams
1403    Williams
1431    Williams
1461    Williams
1581    Williams
1649    Williams
1654    Williams
1845    Williams
          ...
7136    Williams
7158    Williams
7188    Williams
7197    Williams
7213    Williams
7214    Williams
7220    Williams
7275    Williams
7378    Williams
7382    Williams
7693    Williams
7700    Williams
7712    Williams
7717    Williams
7744    Williams
7778    Williams
7786    Williams
7799    Williams
7818    Williams
7829    Williams
7834    Williams
7839    Williams
7849    Williams
7895    Williams
8066    Williams
8280    Williams
8333    Williams
8357    Williams
8380    Williams
8429    Williams
Name: l_name, Length: 155, dtype: object
898     Hill
964     Hill
1193    Hill
1611    Hill
1662    Hill
2229    Hill
2314    Hill
2440    Hill
2717    Hill
2905    Hill
2949    Hill
3094    Hill
4149    Hill
4654    Hill
4892    Hill
4933    Hill
4946    Hill
5034    Hill
5571    Hill
5671    Hill
5791    Hill
6129    Hill
6323    Hill
6785    Hill
7626    Hill
7836    Hill
8124    Hill
Name: l_name, dtype: object
5102    Haynesworth
Name: l_name, dtype: object
Series([], Name: l_name, dtype: object)
6700    Pryor
8161    Pryor
Name: l_name, dtype: object
Series([], Name: l_name, dtype: object)
Series([], Name: l_name, dtype: object)
1102    Bailey
1775    Bailey
2230    Bailey
2511    Bailey
2847    Bailey
3133    Bailey
4274    Bailey
4349    Bailey
4675    Bailey
5345    Bailey
7330    Bailey
7831    Bailey
Name: l_name, dtype: object
6280    Barbre
Name: l_name, dtype: object
146     Bennett
1002    Bennett
1985    Bennett
2015    Bennett
2570    Bennett
3061    Bennett
4244    Bennett
4829    Bennett
5903    Bennett
6276    Bennett
6581    Bennett
6590    Bennett
8255    Bennett
Name: l_name, dtype: object
432     Black
4379    Black
4489    Black
5226    Black
6331    Black
7265    Black
Name: l_name, dtype: object
5794    Blackstock
Name: l_name, dtype: object
3495    Bolden
7568    Bolden
Name: l_name, dtype: object
4348    Boston
8051    Boston
Name: l_name, dtype: object
6376    Bowe
Name: l_name, dtype: object
35      Brown
208     Brown
323     Brown
330     Brown
358     Brown
468     Brown
530     Brown
540     Brown
700     Brown
745     Brown
800     Brown
822     Brown
995     Brown
1060    Brown
1143    Brown
1294    Brown
1331    Brown
1344    Brown
1357    Brown
1463    Brown
1687    Brown
1788    Brown
1956    Brown
2017    Brown
2123    Brown
2481    Brown
2538    Brown
2591    Brown
2659    Brown
2698    Brown
        ...
6272    Brown
6394    Brown
6479    Brown
6625    Brown
6655    Brown
6715    Brown
6768    Brown
6778    Brown
6844    Brown
6864    Brown
6880    Brown
6911    Brown
6953    Brown
6967    Brown
7098    Brown
7252    Brown
7298    Brown
7321    Brown
7334    Brown
7440    Brown
7460    Brown
7617    Brown
7737    Brown
7867    Brown
8088    Brown
8106    Brown
8191    Brown
8202    Brown
8363    Brown
8403    Brown
Name: l_name, Length: 98, dtype: object
35      Brown
208     Brown
323     Brown
330     Brown
358     Brown
468     Brown
530     Brown
540     Brown
700     Brown
745     Brown
800     Brown
822     Brown
995     Brown
1060    Brown
1143    Brown
1294    Brown
1331    Brown
1344    Brown
1357    Brown
1463    Brown
1687    Brown
1788    Brown
1956    Brown
2017    Brown
2123    Brown
2481    Brown
2538    Brown
2591    Brown
2659    Brown
2698    Brown
        ...
6272    Brown
6394    Brown
6479    Brown
6625    Brown
6655    Brown
6715    Brown
6768    Brown
6778    Brown
6844    Brown
6864    Brown
6880    Brown
6911    Brown
6953    Brown
6967    Brown
7098    Brown
7252    Brown
7298    Brown
7321    Brown
7334    Brown
7440    Brown
7460    Brown
7617    Brown
7737    Brown
7867    Brown
8088    Brown
8106    Brown
8191    Brown
8202    Brown
8363    Brown
8403    Brown
Name: l_name, Length: 98, dtype: object
799     Buchanan
2832    Buchanan
7697    Buchanan
Name: l_name, dtype: object
3069    Buckner
Name: l_name, dtype: object
680    Burse
Name: l_name, dtype: object
203     Bush
2798    Bush
3342    Bush
6142    Bush
6299    Bush
7482    Bush
Name: l_name, dtype: object
3146    Chamberlain
6423    Chamberlain
Name: l_name, dtype: object
Series([], Name: l_name, dtype: object)
4302    Cloud
Name: l_name, dtype: object
31      Cooper
696     Cooper
1181    Cooper
1743    Cooper
2234    Cooper
4672    Cooper
4713    Cooper
5555    Cooper
7003    Cooper
7671    Cooper
7916    Cooper
8339    Cooper
8431    Cooper
Name: l_name, dtype: object
31      Cooper
696     Cooper
1181    Cooper
1743    Cooper
2234    Cooper
4672    Cooper
4713    Cooper
5555    Cooper
7003    Cooper
7671    Cooper
7916    Cooper
8339    Cooper
8431    Cooper
Name: l_name, dtype: object
299     Cunningham
1897    Cunningham
2612    Cunningham
3413    Cunningham
7109    Cunningham
7486    Cunningham
7669    Cunningham
Name: l_name, dtype: object
6892    Cushing
Name: l_name, dtype: object
207     Davis
227     Davis
278     Davis
297     Davis
628     Davis
674     Davis
717     Davis
758     Davis
775     Davis
974     Davis
1112    Davis
1310    Davis
1312    Davis
1441    Davis
1672    Davis
1697    Davis
1918    Davis
1950    Davis
2209    Davis
2251    Davis
2329    Davis
2372    Davis
2721    Davis
2747    Davis
3000    Davis
3001    Davis
3076    Davis
3126    Davis
3172    Davis
3218    Davis
        ...
5070    Davis
5214    Davis
5235    Davis
5349    Davis
5479    Davis
5646    Davis
5761    Davis
5875    Davis
5977    Davis
6138    Davis
6271    Davis
6294    Davis
6330    Davis
6369    Davis
6493    Davis
6563    Davis
6603    Davis
6703    Davis
6712    Davis
6736    Davis
6882    Davis
6926    Davis
7013    Davis
7151    Davis
7592    Davis
7827    Davis

In [210]:
# replacing player names with player id
for dude in player_name_df["player"]:

    draft_df["player"] = draft_df.player.replace({dude:player_name_df.loc[player_name_df["player"]==dude].index[0]})
    arrest_df["player"] = arrest_df.player.replace({dude:player_name_df.loc[player_name_df["player"]==dude].index[0]})
#   suspension_df["player"] = suspension_df.player.replace({dude:player_name_df.loc[player_name_df["player"]==dude].index[0]})
    

draft_df.head()

   player  year_drafted  round_drafted  team  pos   age      college
0    8434          2015            1.0    30   QB  21.0  Florida St.
1    8433          2015            1.0    31   QB  21.0       Oregon
2    8432          2015            1.0    15  OLB  21.0      Florida
3    8431          2015            1.0    27   WR  21.0      Alabama
4    8430          2015            1.0    32    T  23.0         Iowa

In [211]:
#replacing college name with college id
for school in college_df["school"]:
    draft_df["college"] = draft_df.college.replace({school:college_df.loc[college_df["school"]==school].index[0]})

for position in pos_df["position"]:
    draft_df["pos"] = draft_df.pos.replace({position:pos_df.loc[pos_df["position"]==position].index[0]})
    arrest_df["pos"] = arrest_df.pos.replace({position:pos_df.loc[pos_df["position"]==position].index[0]})

arrest_df.head()

,date,team,player,pos,case,category,desc,outcome
0,3/27/2017,28,Trevone Boykin,0,Arrested,Drugs,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/2017,6,Deiondre Hall,6,Arrested,Disorderly conduct,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/2017,12,Makinton Dorleant,6,Arrested,Police interference,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/2017,16,Demetrius Harris,14,Arrested,Drugs,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/2017,18,Ethan Westbrooks,8,Arrested,Domestic violence,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

In [212]:
#replacing arrest dataframe case, category, and outcome with relational ids
for case in case_df["result"]:
    arrest_df["case"] = arrest_df.case.replace({case:case_df.loc[case_df["result"]==case].index[0]})
    
for category in category_df["cat_type"]:
    arrest_df["category"] = arrest_df.category.replace({category:category_df.loc[category_df["cat_type"]==category].index[0]})

arrest_df.rename(columns={"team":"team_id", 
                         "player":"player_id",
                         "pos":"pos_id", 
                         "case":"case_id",
                         "category":"category_id"}, inplace=True)
    
arrest_df.head()

,date,team_id,player_id,pos_id,case_id,category_id,desc,outcome
0,3/27/2017,28,Trevone Boykin,0,0,0,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/2017,6,Deiondre Hall,6,0,1,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/2017,12,Makinton Dorleant,6,0,2,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/2017,16,Demetrius Harris,14,0,0,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/2017,18,Ethan Westbrooks,8,0,3,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

In [213]:
draft_df = draft_df.dropna(how="any")
draft_df["round_drafted"] = draft_df["round_drafted"].astype(int)
draft_df["age"] = draft_df["age"].astype(int)
draft_df["college"] = draft_df["college"].astype(int)
draft_df.columns=["player_id", "year_drafted", "round_drafted", "team_id", "pos_id", "age", "college_id"]
draft_df.head()

   player_id  year_drafted  round_drafted  team_id  pos_id  age  college_id
0       8434          2015              1       30       0   21           0
1       8433          2015              1       31       0   21           1
2       8432          2015              1       15       1   21           2
3       8431          2015              1       27       2   21           3
4       8430          2015              1       32       3   23           4

In [214]:
arrest_df.head()

,date,team_id,player_id,pos_id,case_id,category_id,desc,outcome
0,3/27/2017,28,Trevone Boykin,0,0,0,"Accused of marijuana possession, public intoxi...",Resolution undetermined.
1,3/26/2017,6,Deiondre Hall,6,0,1,"Accused of disorderly conduct, public intoxica...",Resolution undetermined.
2,3/26/2017,12,Makinton Dorleant,6,0,2,Accused of interfence after scuffle outside of...,Resolution undetermined.
3,3/7/2017,16,Demetrius Harris,14,0,0,Suspected of felony marijuana possession as pa...,Resolution undetermined.
4,3/5/2017,18,Ethan Westbrooks,8,0,3,Suspected of domestic violence in Sacramento a...,Resolution undetermined.

In [215]:
#removing undrafted guys and guys drafted after 2015
#work in progress

# removing_df = []
# for the_guy in arrest_df["player_id"]:
#     if the_guy not in player_name_df.index:
#         removing_df.append(the_guy)

# removing_df = pd.DataFrame(removing_df)
# removing_df.columns=["name"]
# for the_guy in removing_df["name"]:
#      arrest_df = arrest_df.loc[arrest_df["player_id"] != the_guy]

# arrest_df.head()

In [216]:
#loading time
engine = create_engine("mysql+pymysql://root:"+pw+"@localhost:3306/nfl_arrest_draft_data")
engine.table_names()

['cases', 'category', 'college', 'draft_data', 'player_names', 'teams']

In [217]:
college_df.index.rename("id", inplace=True)
draft_df.index.rename("id", inplace=True)
arrest_df.index.rename("id", inplace=True)
suspension_df.index.rename("id", inplace=True)
case_df.index.rename("id", inplace=True)
category_df.index.rename("id", inplace=True)
teams.index.rename("id", inplace=True)
player_name_df.index.rename("id", inplace=True)

In [218]:
# county_transformed.to_sql(name="county", con=engine, if_exists="append", index=True)
college_df.to_sql(name="college", con=engine, if_exists="append", index=True)
draft_df.to_sql(name="draft_data", con=engine, if_exists="append", index=True)
case_df.to_sql(name="cases", con=engine, if_exists="append", index=True)
category_df.to_sql(name="category", con=engine, if_exists="append", index=True)
teams.to_sql(name="teams", con=engine, if_exists="append", index=True)
player_name_df.to_sql(name="player_names", con=engine, if_exists="append", index=True)

In [219]:
draft_df.head()

    player_id  year_drafted  round_drafted  team_id  pos_id  age  college_id
id
0        8434          2015              1       30       0   21           0
1        8433          2015              1       31       0   21           1
2        8432          2015              1       15       1   21           2
3        8431          2015              1       27       2   21           3
4        8430          2015              1       32       3   23           4